body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.loggedout-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;

  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
   margin:0px;
}
